---
# Fedora-specific 1Password CLI installation

- name: Import 1Password GPG key
  rpm_key:
    key: https://downloads.1password.com/linux/keys/1password.asc
    state: present
  become: true

- name: Add 1Password repository
  shell: |
    sudo sh -c 'echo -e "[1password]\nname=1Password Stable Channel\nbaseurl=https://downloads.1password.com/linux/rpm/stable/\$basearch\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=\"https://downloads.1password.com/linux/keys/1password.asc\"" > /etc/yum.repos.d/1password.repo'
  args:
    creates: /etc/yum.repos.d/1password.repo

- name: Install 1Password CLI on Fedora
  dnf:
    name: 1password-cli
    state: present
  become: true
