---
# Fedora-specific 1Password CLI installation

- name: Import 1Password GPG key
  ansible.builtin.rpm_key:
    key: https://downloads.1password.com/linux/keys/1password.asc
    state: present
  become: true

- name: Add 1Password repository
  ansible.builtin.copy:
    dest: /etc/yum.repos.d/1password.repo
    mode: "0644"
    content: |
      [1password]
      name=1Password Stable Channel
      baseurl=https://downloads.1password.com/linux/rpm/stable/$basearch
      enabled=1
      gpgcheck=1
      repo_gpgcheck=1
      gpgkey=https://downloads.1password.com/linux/keys/1password.asc
  become: true

- name: Install 1Password CLI on Fedora
  ansible.builtin.dnf:
    name: 1password-cli
    state: present
  become: true
