---
# Install packages via Homebrew

- name: Ensure Homebrew taps are present
  community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop: "{{ homebrew_taps }}"
  environment:
    PATH: "{{ ansible_path }}"

- name: Install packages via Homebrew
  community.general.homebrew:
    name: "{{ brew_packages }}"
    state: present
    install_options: ["quiet"]
    path: "{{ brew_prefix | default('/home/linuxbrew/.linuxbrew') }}/bin"
  environment:
    PATH: "{{ ansible_path | default(ansible_facts['env']['PATH']) }}"
  register: brew_updates
  when: not ansible_check_mode

- name: Show changed packages # noqa: no-handler
  ansible.builtin.debug:
    var: brew_updates.changed_pkgs
  when: brew_updates.changed_pkgs | default([]) | length > 0
