---
# Install packages via Homebrew

- name: Install packages via Homebrew
  community.general.homebrew:
    name: "{{ item }}"
    state: present
    install_options: ["quiet"]
  loop: "{{ brew_packages }}"
  loop_control:
    label: "{{ item }}"
  when: not ansible_check_mode
