---
# Install packages via Homebrew

- name: Install packages via Homebrew
  community.general.homebrew:
    name: "{{ brew_packages }}"
    state: present
    install_options: ["quiet"]
  register: brew_updates
  when: not ansible_check_mode

- name: Show changed packages # noqa: no-handler
  ansible.builtin.debug:
    var: brew_updates.changed_pkgs
  when: brew_updates.changed_pkgs | default([]) | length > 0
