---
# Install packages via Cargo

- name: Install packages via Cargo
  community.general.cargo:
    name: "{{ item.name }}"
    locked: "{{ item.locked }}"
    state: present
  environment:
    PATH: "{{ ansible_path }}"
  loop: "{{ cargo_packages }}"
  loop_control:
    label: "{{ item.name }}"
  when: not ansible_check_mode
