---
# Install package via Go

- name: "Install {{ package_name }} via Go"
  command: "{{ go_bin }} {{ package_def.go.command }}"
  environment:
    PATH: "{{ ansible_path }}"
    GOPATH: "{{ ansible_user_dir }}/go"
  register: install_result
  changed_when: install_result.stdout != '' or install_result.stderr != ''
