---
# Install packages via Go (batch loop)

- name: Install packages via Go
  command: "{{ go_bin }} {{ item.command }}"
  environment:
    PATH: "{{ ansible_path }}"
    GOPATH: "{{ ansible_user_dir }}/go"
  loop: "{{ go_packages }}"
  loop_control:
    label: "{{ item.name }}"
  register: go_results
  changed_when: go_results.stdout != '' or go_results.stderr != ''
