---
# Run post-install commands for all packages

- name: Run post-install commands
  shell: "{{ _cmd }}"
  environment:
    PATH: "{{ ansible_path }}"
  loop: "{{ post_install_tasks }}"
  loop_control:
    label: "{{ item.name }}"
  vars:
    _cmd: "{{ item.commands if item.commands is string else item.commands | join(' && ') }}"
  ignore_errors: true
  changed_when: false
