---
# Run post-install commands for a package

- name: "Run post-install command for {{ package_name }} (single command)"
  shell: "{{ package_def.post_install }}"
  environment:
    PATH: "{{ ansible_path }}"
  when: package_def.post_install is string
  ignore_errors: true

- name: "Run post-install commands for {{ package_name }} (multiple commands)"
  shell: "{{ post_cmd }}"
  environment:
    PATH: "{{ ansible_path }}"
  loop: "{{ package_def.post_install if package_def.post_install is not string else [] }}"
  loop_control:
    loop_var: post_cmd
  when: package_def.post_install is not string
  ignore_errors: true
