---
# Run post-install commands for all packages

- name: Run post-install commands
  ansible.builtin.command: "{{ _cmd }}"
  environment:
    PATH: "{{ ansible_path }}"
  loop: "{{ post_install_tasks }}"
  loop_control:
    label: "{{ item.name }}"
  vars:
    _cmd: "{{ item.commands if item.commands is string else item.commands | join(' && ') }}"
  register: post_install_result
  failed_when: false
  changed_when: false
