---
# Install packages via yay (bulk)

- name: Filter yay packages (exclude skipped)
  ansible.builtin.set_fact:
    yay_packages_filtered: >-
      {{ yay_packages
         | rejectattr('skip_on', 'contains', 'yay')
         | map(attribute='name')
         | list }}

- name: Install packages via yay
  yay:
    name: "{{ yay_packages_filtered }}"
    state: present
  when: yay_packages_filtered | length > 0
