---
# 1Password CLI installation

- name: Install 1Password CLI
  hosts: all
  gather_facts: true

  module_defaults:
    ansible.builtin.rpm_key:
      validate_certs: "{{ not (skip_ssl_verify | default(false)) }}"
    ansible.builtin.get_url:
      validate_certs: "{{ not (skip_ssl_verify | default(false)) }}"
    ansible.builtin.uri:
      validate_certs: "{{ not (skip_ssl_verify | default(false)) }}"

  roles:
    - role: onepassword
      tags: [prereqs]
